/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Le Jour Serif;
    font-weight: 400;
    src: url(/le-jour-serif.ttf) format("ttf");
  }
}
